
/* Usar fuentes Spectral y Karla */
body, html {
  font-family: var(--font-principal);
}
h1, h2, h3, h4, h5, h6, button, input, textarea, select {
  font-family: var(--font-secundaria);
}

/* Usar fuentes Spectral y Karla */
body, html {
  font-family: var(--font-principal);
}
h1, h2, h3, h4, h5, h6, button, input, textarea, select {
  font-family: var(--font-secundaria);
}
/* MARQUEE flotante arriba sin afectar layout */
.marquee {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
    border-top: 1px solid #A60303;
    border-bottom: 1px solid #A60303;
}


/* Contenedor del texto en movimiento */
.marquee-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}

/* Texto duplicado para loop sin salto */
.marquee-text {
    color: #A60303;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0.5rem 1rem;
}

/* Animación horizontal */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

button:focus, a:focus, input:focus, textarea:focus, select:focus {
  outline: 2px dashed var(--color-acento);
  outline-offset: 2px;
}

button:focus, a:focus, input:focus, textarea:focus, select:focus {
  outline: 2px dashed var(--color-acento);
  outline-offset: 2px;
}
