/* Estilo base del contenedor de la página */

/* Usar fuentes Spectral y Karla */
body, html {
    font-family: var(--font-principal);
}
h1, h2, h3, h4, h5, h6, button, input, textarea, select {
    font-family: var(--font-secundaria);
}

/* Usar fuentes Spectral y Karla */
body, html {
    font-family: var(--font-principal);
}
h1, h2, h3, h4, h5, h6, button, input, textarea, select {
    font-family: var(--font-secundaria);
    color:var(--color-blanco);

}
.menu-page{
    padding: 6rem 2rem;
    max-width: 100vw;
    margin: 0 auto;
    font-family: 'Helvetica Neue', sans-serif;
    color: var(--color-negro);
    background-color: var(--color-negro);
}

/* Botones tipo etiquetas modernas */
.menu-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.menu-button {
    background: transparent;
    border: 2px solid var(--color-rojo);
    padding: 0.8rem 1.6rem;
    border-radius: 999px;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-naranja);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.menu-button:hover {
    background-color: var(--color-naranja);
    color: var(--color-negro);
    text-decoration: none;
}

.menu-button.active {
    background-color: var(--color-naranja);
    color: var(--color-negro);
    text-decoration: none;
}

button:focus, a:focus, input:focus, textarea:focus, select:focus {
    outline: 2px dashed var(--color-rojo);
    outline-offset: 2px;
}
