
/* Usar fuentes Spectral y Karla */
body, html {
  font-family: var(--font-principal);
}
h1, h2, h3, h4, h5, h6, button, input, textarea, select {
  font-family: var(--font-secundaria);
}

/* Usar fuentes Spectral y Karla */
body, html {
  font-family: var(--font-principal);
}
h1, h2, h3, h4, h5, h6, button, input, textarea, select {
  font-family: var(--font-secundaria);
}

button:focus, a:focus, input:focus, textarea:focus, select:focus {
  outline: 2px dashed var(--color-acento);
  outline-offset: 2px;
}

button:focus, a:focus, input:focus, textarea:focus, select:focus {
  outline: 2px dashed var(--color-acento);
  outline-offset: 2px;
}
