.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: deeppink;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #333;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
