.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

main {
  flex: 1;
  position: relative;
  z-index: 1;
}

/* Solo en la home, forzamos altura para que se vea el footer solo al hacer scroll */
.main-home {
  min-height: 70vh; /* Puedes ajustar este valor */
}

/* VIDEO DE FONDO */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}
